body {
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    margin: 0;
}

.content-body {
    min-height: calc(100dvh - 2rem);
    padding: 0 3rem;
    margin: auto;
    color: white;
    margin-bottom: 2rem;
}

.body-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3em;
    width: 100%;
    justify-content: center;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.card-wrapper > .card {
    background-color: #FFFFFFCC;
    color: black;
    padding: 1.5em;
}

.card-wrapper > .card:first-child {
    border-radius: 2rem 2rem 0 0;
}

.card-wrapper > .card:last-child {
    border-radius: 0 0 2rem 2rem;
}

.card-wrapper > .card:first-child:last-child {
    border-radius: 2rem;
}

.fill-height {
    height: 100%;
}

@keyframes card-in {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in {
    animation: card-in cubic-bezier(0.015, 0.285, 0.205, 0.985) .6s forwards;
}

.fade-out {
    animation: card-out .3s forwards;
}

@keyframes card-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.current-weather {
    width: 100%;
    height: calc(100dvh - 14rem);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 6rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 2em;
    padding: 0 3rem;
    background-color: white;
    color: black
}

.footer > *:not(:last-child) {
    margin-right: 3rem;
}


@media only screen and (max-width: 115rem) {
    .content-body {
        padding: 0 1rem;
    }

    .body-wrapper {
        gap: 1rem;
    }
}

@media only screen and (max-width: 100rem) {
    .body-wrapper {
        flex-direction: column;
        gap: 4em;
        padding-bottom: 4rem;
    }

    .fill-height {
        height: auto;
    }   

    .current-weather {
        height: auto;
    }
}