.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    --bg1: #7692FF;
    --bg2: #ABD2FA;
    background: linear-gradient(70deg, var(--bg1), var(--bg2));
    filter: brightness(.85);
    z-index: -10;
}   

.clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/texture.png');
    background-repeat: repeat;
}

.clouds.back {
    filter: url("#filter-back") blur(15px);
    opacity: .7;
}

.clouds.middle {
    filter: brightness(.8) url("#filter-middle") blur(18px);
    transform: translateY(40px);
    opacity: .5;
}

.clouds.front {
    filter: brightness(.7) url("#filter-front") blur(25px);
    transform: translateY(60px);
    opacity: .2;
}