.future-forecast-button {
    background-color: #FFFFFFCC;
    color: black;
    border: none;
    cursor: pointer;
    padding: 1em;
    font-size: 1.5em;
    transition: background-color .2s;
}

.future-forecast-button:hover {
    background-color: white;
}

.future-forecast-button.active {
    background: linear-gradient(to right, #FFFFFFCC, #ABD2FA 200%);
    transition: none;
    text-decoration: underline;
}