.future-forecast {
    min-width: fit-content; 
    height: calc(100dvh - 14rem);
    overflow-y: scroll;
    flex: 1;
    border-radius: 2rem;
}

.future-forecast .day-selector-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: fit-content;
}

.future-forecast .day-selector-wrapper > .label {
    font-weight: 700;
    color: black;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    white-space: nowrap;
}

@media only screen and (max-width: 100rem) {
    .future-forecast {
        overflow-y: auto;
    }
}

@media only screen and (max-width: 30rem) {
    .future-forecast .day-selector-wrapper > .label {
        font-size: 2em;
    }
}