.future-forecast-button {
    color: black;
    border: none;
    cursor: pointer;
    padding: .75em;
    margin: .25em;
    font-size: 1.5em;
    transition: background-color .1s, filter .1s;
    background-color: transparent;
    border-radius: 2rem;
}

.future-forecast-button:hover {
    background-color: white;
    filter: drop-shadow(0 3px 5px #00000044);
}

.future-forecast-button.active {
    background: linear-gradient(to bottom, white, #ABD2FA 150%);
    filter: drop-shadow(0 3px 5px #00000044);
}