.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3em;
    font-size: 1.5em;
}

.header > .search-bar {
    width: 100%;
}

.header-sizer {
    display: flex;
    align-items: center;
    height: 10rem;
    transition: height .6s;
}

.no-weather {
    height: calc(100dvh - 2rem);
}