.location-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 2rem;
}

.location-wrapper > .main {
    font-weight: 700;
    font-size: 2em;
    margin-right: 1.5rem;
}

@media only screen and (max-width: 100rem) {
    .location-wrapper {
        font-size: 1.5rem;
    }
}