.unit-toggle {
    display: flex;
    align-items: center;
    gap: .5em;
}

.unit-toggle > button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0 0.25em;
    width: 3em;
    height: 1.5em;
    border-radius: 1em;
    display: flex;
    align-items: center;
}

.unit-toggle > button > .inner-circle {
    background-color: black;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}