.wind-indicator {
    display: flex;
    align-items: center;
}

.wind-indicator > .icon-wrapper {
    font-size: 5em;
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}